body {
    background-color: $primary-color;
}
form {

    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }
    legend {
        display: none;
    }
}
.sr-only {
    display: none;
}
.input-text {
    border: 2px solid transparent;
    height: 42px;
    width: 100%;
    border-radius: 4px;
    padding: 0 0 0 12px;
    .error & {
        border-color: $color-error;
    }
}
.btn-submit {
    background-color: $terciary-color;
    border-radius: 4px;
    height: 42px;
    width: 100%;
    border: none;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
    &:disabled {
        opacity: 0.6;
        cursor: default;
    }
}
.msg-hidden {
    font-size: 12px;
    font-weight: 700;
}